In [8]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


df_08 = pd.read_csv("data_08_v1.csv")

df_18 = pd.read_csv("data_18_v1.csv")

In [9]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [10]:
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [11]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [12]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [15]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [16]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [18]:
df_08.drop(df_08.columns[[6]], axis = 1, inplace = True)

df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [19]:
df_18.drop(df_18.columns[[6]], axis = 1, inplace = True)

df_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [20]:
df_08.shape

(1084, 13)

In [21]:
df_18.shape

(798, 13)

In [23]:
# view missing value count for each feature in 2008
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 2400
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1084 non-null   object
 1   displ                 1084 non-null   float64
 2   cyl                   1009 non-null   object
 3   trans                 1009 non-null   object
 4   drive                 1047 non-null   object
 5   fuel                  1084 non-null   object
 6   veh_class             1084 non-null   object
 7   air_pollution_score   1084 non-null   object
 8   city_mpg              1009 non-null   object
 9   hwy_mpg               1009 non-null   object
 10  cmb_mpg               1009 non-null   object
 11  greenhouse_gas_score  1009 non-null   object
 12  smartway              1084 non-null   object
dtypes: float64(1), object(12)
memory usage: 118.6+ KB

In [24]:
# view missing value count for each feature in 2018

df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 798 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 798 non-null    object
 4   drive                 798 non-null    object
 5   fuel                  798 non-null    object
 6   veh_class             798 non-null    object
 7   air_pollution_score   798 non-null    int64
 8   city_mpg              798 non-null    object
 9   hwy_mpg               798 non-null    object
 10  cmb_mpg               798 non-null    object
 11  greenhouse_gas_score  798 non-null    int64
 12  smartway              798 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.3+ KB

In [25]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [26]:
# view missing value count for each feature in 2018

df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 1 to 1609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 797 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 797 non-null    object
 4   drive                 797 non-null    object
 5   fuel                  797 non-null    object
 6   veh_class             797 non-null    object
 7   air_pollution_score   797 non-null    int64
 8   city_mpg              797 non-null    object
 9   hwy_mpg               797 non-null    object
 10  cmb_mpg               797 non-null    object
 11  greenhouse_gas_score  797 non-null    int64
 12  smartway              797 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.2+ KB